<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="WebFormsCore">
	<test name="AbcdTest" enabled="true" preserve-order="true">
		<groups>
			<run>
				<include name="droolsEngineRules" />
				<include name="gson" />
				<exclude name="helloWorldpluginTest" />
			</run>
		</groups>
		<classes>
			<class name="com.biit.drools.test.DroolsEngineRulesTest" />
			<class name="com.biit.drools.test.GlobalVariablesSerializerTest" />
			<class name="com.biit.drools.test.PluginsTest" />
		</classes>
	</test>
</suite>